<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.torproject.tor</string>
	<key>ProgramArguments</key>
	<array>
        <!-- Replace /opt/local/bin/tor with your tor binary path -->
	<string>/opt/local/bin/tor</string>
	<string>-f</string>
        <!-- Replace /opt/local/etc/tor/ with your tor data directory path  -->
	<string>/opt/local/etc/tor/torrc</string>
	</array>
        <!-- Replace /opt/local/etc/tor/ with your tor data directory path  -->
	<key>StandardOutPath</key>
	<string>/opt/local/etc/tor/stdout.log</string>
        <!-- Replace /opt/local/etc/tor/ with your tor data directory path  -->
	<key>StandardErrorPath</key>
	<string>/opt/local/etc/tor/stderr.log</string>
        <!-- Replace doug with your short OS X username -->
	<key>UserName</key>
	<string>doug</string>
        <!-- How long OS X will give tor to shut down connections before restarting it. Decrease for faster reboots, increase to allow users to find other relays. -->
	<key>ExitTimeOut</key>
	<integer>60</integer>
        <!-- How much CPU priority tor will get, from 20 (low) to -20 (high) -->
	<key>Nice</key>
	<integer>15</integer>
	<key>HardResourceLimits</key>
	<dict>
        <!-- How many connections tor can make, for a relay, this should be at least the number of relays in the network, or around 8000 -->
        <!-- You may also need to add "kern.maxfiles=20480" to /etc/sysctl.conf -->
	<key>NumberOfFiles</key>
	<integer>10240</integer>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>                                                          
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
        <!-- If any keys are not implemented in your version of OS X, please feel free to delete them -->
</dict>
</plist>